/* 네비게이션 아이콘 */
.nav-icon.dashboard-icon {
    background-image: url('/img/component/icon/ico_view_mode.svg');
}

.nav-icon.user-icon {
    background-image: url('/img/component/icon/ico_my.svg');
}

.nav-icon.project-icon {
    background-image: url('/img/component/icon/ico_file.svg');
}

.nav-icon.settings-icon {
    background-image: url('/img/component/icon/ico_setting.svg');
} 